@charset "utf-8";

$type: ;
$smart: "only screen and (max-width: 480px)";
$tablet: "only screen and (min-width: 481px) and (max-width:899px)";
$desktop: "only screen and (min-width: 900px)";

@import "reset";
@import "mixin";

@media #{$smart}
	$type: ;
	@import "main";

@media #{$tablet}
	$type: ;
	@import "main";

@media #{$tablet}
	$type: ;
	@import "main";
	